<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>地点</th>
      <th>短评</th>
      <th>出发时间</th>
      <th>天数</th>
      <th>人均费用</th>
      <th>人物</th>
      <th>玩法</th>
      <th>详情页</th>
      <th>旅行月份</th>
      <th>浏览次数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>269</th>
      <td>海宁</td>
      <td>海洪宁静，盐潮入官，百里钱塘，春暖花开--驾“浙”观大潮访金庸、赏樱花睡房车</td>
      <td>2020-03-23</td>
      <td>2</td>
      <td>900.0</td>
      <td>情侣</td>
      <td>自驾 赏樱 踏春 清明</td>
      <td>http://travel.qunar.com/travelbook/note/7587807</td>
      <td>三月</td>
      <td>34000</td>
    </tr>
    <tr>
      <th>338</th>
      <td>敦煌</td>
      <td>西北以北 |  国庆敦煌兰州双城六日行记</td>
      <td>2020-03-13</td>
      <td>6</td>
      <td>2500.0</td>
      <td>情侣</td>
      <td>环游 穷游 国庆</td>
      <td>http://travel.qunar.com/travelbook/note/7584406</td>
      <td>三月</td>
      <td>26000</td>
    </tr>
    <tr>
      <th>362</th>
      <td>兴化</td>
      <td>兴化丨赴一场春季之约，看一场花花世界</td>
      <td>2020-03-30</td>
      <td>2</td>
      <td>1000.0</td>
      <td>情侣</td>
      <td>深度游 短途周末 自驾 踏春</td>
      <td>http://travel.qunar.com/travelbook/note/7589157</td>
      <td>三月</td>
      <td>25000</td>
    </tr>
  </tbody>
</table>