{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign Uo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/sign/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/sign/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/sign/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/sign/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/sign/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/sign/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/sign/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/sign/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/sign/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/sign/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/sign/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/sign/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('{% static '/sign/images/bg-02.jpg' %}');"></div>
			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form action="/myapp/processSign/" class="login100-form validate-form" method="post">
                    {% csrf_token %}
					<span class="login100-form-title p-b-59">
						註冊
					</span>

					<div class="wrap-input100 validate-input" data-validate="姓名為必填欄位">
						<span class="label-input100">姓名</span>
						<input class="input100" type="text" name="name" id="name" placeholder="姓名...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "需要有效的電子郵件: ex@abc.xyz">
						<span class="label-input100">信箱</span>
						<input class="input100" type="text" name="mail" id="mail" placeholder="信箱...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="帳號為必填欄位">
						<span class="label-input100">帳號</span>
						<input class="input100" type="text" name="account" id="account" placeholder="帳號...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "密碼為必填欄位">
						<span class="label-input100">密碼</span>
						<input class="input100" type="password" name="passwd" id="passwd" placeholder="*************">
						<span class="focus-input100"></span>
					</div>
{##}
{#					<div class="wrap-input100 validate-input" data-validate = "重複密碼為必填欄位">#}
{#						<span class="label-input100">重複輸入密碼</span>#}
{#						<input class="input100" type="text" name="repeat-pass" id="repeat-pass" placeholder="*************">#}
{#						<span class="focus-input100"></span>#}
{#					</div>#}

{#                    <div class="flex-m w-full p-b-33" id="msg">#}
{#                        <div class="contact100-form-checkbox" >#}
{#								<span class="txt1">#}
{#                                    {{ message }}#}
{#								</span>#}
{#						</div>#}
{#					</div>#}

                {% if messages %}
                    {%for message in messages%}
					<div class="flex-m w-full p-b-33">
                        <div class="contact100-form-checkbox" >
								<span class="txt4">
                                    {{ message }}
								</span>
						</div>
					</div>
                    {% endfor %}
                {% endif %}
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								註冊
							</button>
						</div>

						<a href="../../myapp/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							登入
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static '/sign/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/sign/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/sign/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static '/sign/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/sign/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/sign/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static '/sign/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/sign/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/sign/js/main.js' %}"></script>
{#    <script>#}
{#        setTimeout(function (){#}
{#            if ($('#msg').length > 0) {#}
{#                $('#msg').remove();#}
{#            }#}
{#        },200000000000000)#}
{#    </script>#}

</body>
</html>